@font-face {
    font-family: 'MyFont';
    src: url('../fonts/SFNT-TTF.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    background-image: url('../img/r8.jpg');
    font-family: 'MyFont';
}