<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if not isSecondDomain %}
    <title>{{tdk.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{tdk.keywords}}">
    <meta name="description" content="{{tdk.description}}"> {% else %}
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content=""> {% endif %}
<link rel="shortcut icon" href="/favicon.ico"></head>

<body>
    {% block content %}{% endblock %}
    <script src="/static/polyfill.all.js"></script>
    <script src="/static/util.all.js"></script>
    <script src="/static/jquery.all.js"></script>
    <script src="/static/bshare.all.js"></script>
<script type="text/javascript" src="/js/manifest.js"></script><script type="text/javascript" src="/js/mNewsList.js"></script></body>

</html>