@import "../../components/_mcommon.scss";

html {
    background: $white;
}

.company-main {
    padding: 1.3rem;

    .company-title {
        font-weight: 600;
        color: #333;
        border-bottom: 1px solid #F0F0F0;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }

    .company-title2 {
        font-size: 1.2rem;
        color: #666;
        font-weight: 600;
        font-size: 1.4rem;
    }

    .company-type {
        background: #C52F3A;
        display: inline-block;
        padding: .2rem .5rem;
        color: $white;
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }

    .company-intro {
        font-size: 1.2rem;
        color: #666;
        line-height: 1.5;
        padding-right: 1.3rem;
        margin-bottom: 2rem;
    }
}