<li class="clearfix">
    <div class="col2-list-title">合约盈利：</div>
    <div class="col2-list-content">
        <span class="fb color-red">${profit.fetchProfit|money}</span>
        <span class="fb gray-dark">元</span>
    </div>
</li>
<li class="clearfix">
    <div class="col2-list-title have-input-row">提取金额：</div>
    <div class="col2-list-content">
        <input class="input-normal" type="text" placeholder="请输入金额" name="profitAmount" />
    </div>
    <div class="word-prompt">最高可提取
        <span class="color-red">${profit.maxFetchProfit|money}</span>
        元
    </div>
</li>