<div class="modal-wrap modal-size-normal none" id="JS-wx-share-Dialog">
    <div class="modal-title clearfix">
        <span class="head-title-left">微信分享</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content">
        <ul class="modal-list">
            <li class="center">
                <span class="gray-dark">使用扫一扫，邀请享返佣</span>
            </li>
        </ul>
        <div class="modal-code JS-qrcode-url">
            <img src="{{imgUrl}}" />
        </div>
    </div>
    <div class="modal-operate">
        <a class="btn-full btn-red title-close">确 认</a>
    </div>
</div>