<ul class="left-nav">
    <li class="selected JS-tab-user" data-nav="0">
        <a href="/user/assets">我的账户</a>
    </li>
    <li class="JS-tab-user" data-nav="1">
        <a href="/trade/list">我的操盘</a>
    </li>
    <li class="JS-tab-user" data-nav="2">
        <a href="/user/extend">分享赚钱</a>
    </li>
    <li class="JS-tab-user" data-nav="3">
        <a href="/user/coupon">积分卡券</a>
    </li>
    <li class="JS-tab-user" data-nav="4">
        <a href="/user/flowing">资金明细</a>
    </li>
    <li class="JS-tab-user" data-nav="5">
        <a href="/user/message">消息中心</a>
    </li>
</ul>