<div class="up-down-prompt">
    <div class="up-down-title">操盘须知：</div>
    <div class="up-down-cont">
        <ol>
            <li>全程只需支付账户管理费，无其他任何费用；</li>
            <li>资金使用期限：以实际申请时间为准，按天、按月合约默认自动延期，自动从账户余额扣除管理费（余额不足时自动终止）；</li>
            <li>风险保证金 ：在您操盘出现亏损后用于支付亏损金，结束时如无亏损全额退还，保证金越低收益越大，同时风险也越大；</li>
            <li>亏损警戒线 ：当总操盘资金低于警戒线以下时，只能平仓不能建仓，需要尽快补充风险保证金，以免低于亏损平仓线被平仓；</li>
            <li>亏损平仓线 ：当总操盘资金低于平仓线以下时，我们将把您的股票进行平仓操作，为避免平仓操作的发生，请您时刻关注风险保证金是否充足；</li>
            <li>开始交易时间：交易日当天14:55之前的配资申请于当日生效（当天开始收取账户管理费），交易日当天14:55后的配资申请将于下个交易日生效；</li>
            <li>账户管理费 ：不包含交易印花税、过户费和佣金（由券商和证券交易所收取，实际费用以交易所和券商规定为准）；</li>
            <li>股市有风险，投资需谨慎。</li>
        </ol>
    </div>
</div>