<div class="modal-wrap modal-size-normal none" id="JS-activity-join-Dialog">
    <div class="modal-title clearfix">
        <span class="head-title-left">免费体验</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content">
        <ul class="modal-free">
            <li class="clearfix">
                <div class="free-title">杠杆本金
                    <span class="color-red">（收益全归您）</span>
                </div>
                <div class="free-value">
                    <span class="fb color-red">100.00</span>
                    <span class="fb gray-dark">元</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="free-title">合约金额
                    <span class="color-red">（赠送资金+杠杆本金）</span>
                </div>
                <div class="free-value">
                    <span class="fb gray-dark">2100</span>
                    <span class="fb gray-dark">元</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="free-title">操盘期限</div>
                <div class="free-value">2个交易日</div>
            </li>

        </ul>
    </div>
    <div class="modal-operate">
        <a class="btn-full btn-red JS-activity-join-btn">立即体验</a>
    </div>
</div>