<ul class="client-query-tab clearfix">
    <li>
        <a class="btn-fixed-100 btn-gray-border JS-tab-query" data-nav="0">当日委托</a>
    </li>
    <li>
        <a class="btn-fixed-100 btn-gray-border JS-tab-query" data-nav="1">历史委托</a>
    </li>
    <li>
        <a class="btn-fixed-100 btn-gray-border JS-tab-query" data-nav="2">当日成交</a>
    </li>
    <li>
        <a class="btn-fixed-100 btn-gray-border JS-tab-query" data-nav="3">历史成交</a>
    </li>
    <li>
        <a class="btn-fixed-100 btn-gray-border JS-tab-query" data-nav="4">当日资金流水</a>
    </li>
    <li>
        <a class="btn-fixed-100 btn-gray-border JS-tab-query" data-nav="5">历史资金流水</a>
    </li>
</ul>