<ul class="level2-tab tab-public-level2 clearfix">
    <li class="JS-tab-tradeclient" data-nav="0">
        <a>持仓</a>
    </li>
    <li class="JS-tab-tradeclient" data-nav="1">
        <a>买入</a>
    </li>
    <li class="JS-tab-tradeclient" data-nav="2">
        <a>卖出</a>
    </li>
    <li class="JS-tab-tradeclient" data-nav="3">
        <a>撤单</a>
    </li>
    <li class="JS-tab-tradeclient" data-nav="4">
        <a>查询</a>
    </li>
    <li class="align-right">
        <a class="link-blue JS-showTodayLimit">今日限买股</a>
    </li>
</ul>