<ul class="left-nav JS-other-nav">
    <li class="JS-tab-other" data-nav="0">
        <a href="/other/aboutus">关于我们</a>
    </li>
    <li class="JS-tab-other" data-nav="1">
        <a href="/other/contactus">联系我们</a>
    </li>
    <li class="JS-tab-other" data-nav="2">
        <a href="/other/joinus">加入我们</a>
    </li>
    <li class="JS-tab-other" data-nav="3">
        <a href="/other/safe">安全保障</a>
    </li>
    <li class="JS-tab-other" data-nav="4">
        <a href="/other/media">媒体报道</a>
    </li>
</ul>