<div class="modal-wrap modal-size-normal">
    <div class="modal-title clearfix">
        <span class="head-title-left">卖出确认</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content">
        <ul class="modal-col2-list">
            <li class="clearfix">
                <div class="col2-list-title">股票名称：</div>
                <div class="col2-list-content">
                    <span class="fb gray-dark">洲明科技</span>
                    <span class="fb gray-dark">（300232）</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="col2-list-title">买卖方向：</div>
                <div class="col2-list-content">
                    <span class="fb color-green">买入</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="col2-list-title">委托价格：</div>
                <div class="col2-list-content">
                    <span class="fb gray-dark">67.00</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="col2-list-title">委托数量：</div>
                <div class="col2-list-content">
                    <span class="fb gray-dark">600</span>
                    <span class="fb gray-dark">股</span>
                </div>
            </li>
        </ul>
        <div class="errortip-default">
            <i class="icon-tishi"></i>
            <span>这里是提示内容</span>
        </div>
    </div>
    <div class="modal-operate">
        <a class="btn-full btn-green">确 认</a>
    </div>
</div>