{% extends 'layout/index.html' %}
<!-- content -->
{% block content %}
<div class="ui-view-container">
    <!-- header -->
    {% include './components/common/_header.html' %}
    <!-- main -->
    <div class="index-banner">
        {% include './components/index/_banner.html' %}
    </div>
    <div class="wrap index-wrap">
        <ul class="index-info clearfix">
            <li>
                <div class="img-info img-icon1"></div>
                <div class="info-title">甄选产品</div>
                <div class="info-word">满足各类需求</div>
            </li>
            <li>
                <div class="img-info img-icon2"></div>
                <div class="info-title">资金安全</div>
                <div class="info-word">三方存管，实名认证</div>
            </li>
            <li>
                <div class="img-info img-icon3"></div>
                <div class="info-title">实盘交易</div>
                <div class="info-word">lev2可查下单详情</div>
            </li>
            <li>
                <div class="img-info img-icon4"></div>
                <div class="info-title">风控安全</div>
                <div class="info-word">实时监控，自动检测</div>
            </li>
        </ul>
        <div class="index-product">
            <div class="type1-title clearfix">
                <div class="title-name size20 fb gray-dark">操盘</div>
                <div class="title-info">小资金 大利润 我出资金 盈利翻番</div>
            </div>
            <ul class="product-list clearfix">
                <li>
                    <i class="product-icon icon-anripeizi"></i>
                    <div class="product-pztype">按天配资</div>
                    <div class="product-describe">短线狙击 高收益</div>
                    <div class="product-feature">最高
                        <span class="main-word">10</span>倍数 最高
                        <span class="main-word">300</span>万</div>
                    <div class="product-label">
                        <span>最高10倍</span>
                        <span>最高300万</span>
                    </div>
                    <a class="product-operate" href="/trade/0">立即配资</a>
                </li>
                <li>
                    <i class="product-icon icon-anyuepeizi"></i>
                    <div class="product-pztype">按月配资</div>
                    <div class="product-describe">伺机布局 稳健收益</div>
                    <div class="product-feature">低门槛 最高
                        <span class="main-word">6</span>倍超低收费
                        <span class="main-word">1-3</span>个月</div>
                    <div class="product-label">
                        <span>低门槛</span>
                        <span>超低收费</span>
                        <span>最高6倍</span>
                    </div>
                    <a class="product-operate" href="/trade/1">立即配资</a>
                </li>
                <li>
                    <i class="product-icon icon-huhuipeizi"></i>
                    <div class="product-pztype">互惠配资</div>
                    <div class="product-describe">从容不迫 短线高手</div>
                    <div class="product-feature">免管理费 最高
                        <span class="main-word">10</span>最多
                        <span class="main-word">5</span>个交易日</div>
                    <div class="product-label">
                        <span>免管理费</span>
                        <span>最高10倍</span>
                        <span>最多5个交易日</span>
                    </div>
                    <a class="product-operate" href="/trade/5">立即配资</a>
                </li>
                <li>
                    <i class="product-icon icon-jihuipeizi"></i>
                    <div class="product-pztype">极惠配资</div>
                    <div class="product-describe">股市大神 指点江山</div>
                    <div class="product-feature">
                        <span class="main-word">1</span>倍杠杆 最高
                        <span class="main-word">300</span>万</div>
                    <div class="product-label">
                        <span>1倍杠杆</span>
                        <span>最高300万</span>
                    </div>
                    <a class="product-operate" href="/trade/2">立即配资</a>
                </li>
            </ul>
        </div>
        <div class="index-path">
            <div class="path-title">配资流程</div>
            <div class="path-step">
                <span class="step-no">1</span>
                <div class="step-main">
                    <div class="step"></div>
                    <div class="word">选择</div>
                    配资方案
                </div>
                <div class="step-arrow"></div>
            </div>
            <div class="path-step">
                <span class="step-no">2</span>
                <div class="step-main">
                    <div class="step step2"></div>
                    <div class="word">充值并支付</div>
                    保证金
                </div>
                <div class="step-arrow"></div>
            </div>
            <div class="path-step">
                <span class="step-no">3</span>
                <div class="step-main">
                    <div class="step step3"></div>
                    <div class="word1">确认配资</div>
                </div>
                <div class="step-arrow"></div>
            </div>
            <div class="path-step">
                <span class="step-no">4</span>
                <div class="step-main">
                    <div class="step step4"></div>
                    <div class="word1">开始炒股</div>
                </div>
            </div>
        </div>
        <div class="index-news clearfix">
            {% if not isSecondDomain %}
            <div class="index-news-left">
                <div class="type1-title clearfix">
                    <div class="title-name size20 fb gray-dark">资讯</div>
                    <div class="title-info">
                        {% for item in contentItems %}
                        <span>{{item.channelName}}</span> {% endfor %}
                    </div>
                    <div class="title-date">
                        <a href="/news" class="link-blue-noline">更多&gt;&gt;</a>
                    </div>
                </div>
                <div class="index-news-cont clearfix">
                    <ul class="index-news-tab JS-news-tab">
                        {% for item in contentItems %}
                        <li>{{item.channelName}}</li>
                        {% endfor %}
                    </ul>
                    {% for item in contentItems %}
                    <div class="index-news-main JS-new-main none">
                        {% for itemCont in jcContentDtos %} {% if itemCont.channelId == item.channelId %} {% if not i %} {% set i = 1 %}
                        <div class="news-headlines">
                            {% if itemCont.titleImg and itemCont.titleImg != '' %}
                            <img class="news-img" src="{{itemCont.titleImg}}" alt=""> {% else %}
                            <img class="news-img" src="../images/news/list/{{ imgSrc(20) }}.jpg" alt=""> {% endif %}
                            <a href="/news/d{{itemCont.contentId}}.html">
                                <div class="fb gray-base">{{itemCont.title}}</div>
                                <div class="gray-light">{{itemCont.description.substring(0,70) + '...'}}</div>
                            </a>
                        </div>
                        {% else %}
                        <ul class="havedate-news-list solid-line-bottom news-list-havedot">
                            <li>
                                <div class="list-title">
                                    <a href="/news/d{{itemCont.contentId}}.html" class="fb">{{itemCont.title}}</a>
                                </div>
                                <div class="list-date">{{(itemCont.releaseDate | timeUnixFormat).split(' ')[0]}}</div>
                            </li>
                        </ul>
                        {% endif %} {% endif %} {% endfor %}
                    </div>
                    {% endfor %}
                    <div class="index-news-friends">
                        <a href="/other/media">
                            <img src="../images/index/logo-sohu.jpg" />
                        </a>
                        <a href="/other/media">
                            <img src="../images/index/logo-ysw.jpg" />
                        </a>
                        <a href="/other/media">
                            <img src="../images/index/logo-zqzx.jpg" />
                        </a>
                        <a href="/other/media">
                            <img src="../images/index/logo-cjw.jpg" />
                        </a>
                        <a href="/other/media">
                            <img src="../images/index/logo-zjzx.jpg" />
                        </a>
                        <a href="/other/media">
                            <img src="../images/index/logo-zhw.jpg" />
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="index-news-right">
                <div class="type1-title clearfix">
                    <div class="title-name size20 fb gray-dark">公告</div>
                    <div class="title-date">
                        <a href="/user/message" class="link-blue-noline">更多&gt;&gt;</a>
                    </div>
                </div>
                <div class="index-news-cont">
                    <ul class="havedate-news-list solid-line-bottom">
                        {% if newsList and newsList.length > 0 %} {% for item in newsList %} {% if loop.index < 9 %} 
                        <li class="JS-notice-content">
                            <div class="list-title">
                                <a class="fb" href="/user/message{{loop.index0}}">{{item.title}}</a>
                            </div>
                            <div class="list-date">{{item.postTime.split(' ')[0]}}</div>
                        </li>
                            {% endif %} {% endfor %} {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- {% include './components/dialog/_suggestDialog.html' %} -->
    </div>
    <!-- footer -->
    {% include './components/common/_footer.html' %}
</div>
<!-- content end -->
{% endblock %}