<div class="modal-wrap modal-size-normal none" id="JS-modifyDomainDialog">
    <div class="modal-title clearfix">
        <span class="head-title-left">修改个性化域名</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content">
        <ul class="modal-list">
            <li class="center">注意：修改个性化域名请同步修改您的推广物料</li>
            <li class="input-normal">
                <span class="right-btn">.cfniu.com</span>
                <input name="domain" type="password" placeholder="请输入推广域名" />
            </li>
        </ul>
        <div class="errortip-default none JS-errorWrap">
            <i class="icon-tishi"></i>
            <span class="JS-errorMsg">这里是提示内容</span>
        </div>
    </div>
    <div class="modal-operate">
        <a class="btn-full btn-red JS-confirm">确 认</a>
    </div>
</div>