<div class="modal-wrap modal-size-normal none">
    <div class="modal-title clearfix">
        <span class="head-title-left">系统提示</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content">
        <div class="modal-tips">您的申请已提交，请等待我们的审核</div>
        <div class="modal-tips">我们将在
            <span class="color-orange">2-5个工作日内</span>
            <span>给您反馈，谢谢！</span>
        </div>
    </div>
    <div class="modal-operate">
        <a class="btn-full btn-red">确 认</a>
    </div>
</div>