{@if (!list || list.length == 0)}
<div class="nodata">
    <div>没有相关数据！</div>
</div>
{@else} 
{@each list as item, index}
<li class="message-list JS-msg-detail">
    <div class="clearfix">
        <div class="message-title notice">${item.title}</div>
        <div class="fr gray-light">${item.postTime}</div>
    </div>
    {@if (!showIndex && index == 0) || (showIndex && index == showIndex) }
    <div class="message-detail">$${item.content}</div>
    {@else}
    <div class="message-detail none">$${item.content}</div>
    {@/if}
</li>
{@/each}
<div class="turn-page JS-page-message-list"></div>
{@/if}