<div class="protocol-cont">
    <h1>会员注册协议</h1>
    <p class="para-blank">为保障投资者权益，注册人（投资者）在自愿注册使用{{NIU_CN}}网服务前，必须仔细阅读并充分理解知悉下述协议所有条款。注册人成为注册会员后，即视为同意本协议的所有条款，并自愿受本协议内容约束。</p>

    <h1>第一部分 风险揭示</h1>
    <p class="para-blank">为保护投资的合法权益，本公司敬告各位注册会员（投资者），应充分详细阅读本公司发布的与投资相关的协议和规则，根据自身的经济实力和心理承受能力，理性选择操盘方案，谨慎进行股票交易。</p>
    <p class="para-blank">一、注册成为网站会员后，会员在接受并遵守本网站（公司）各项业务规则的前提下按照一定比例提供相应保证金即可通过借款方式获得借款资金用于股票交易。保证金用于保证资金出借方能安全收回借款的利息，故会设置一定比例的预警线和强制平仓线。同时，会员同意其向出借方借款所得资金将指定网站（或关联方）作为资金收款方，再由网站通过内部系统转入会员注册的平台账户内进行资金操作，该行为即视为会员已收取了借款本金。</p>
    <p class="para-blank">二、注册会员应当知晓，利用借款方式进行股票交易可能会获得投资收益，但同时也存在着保证金损失的风险。借款炒股除了会放大注册会员的收益外，也会放大注册会员的交易风险，即当注册会员购买的股票上涨时，获取的收益也会放大一定的倍数，而当注册会员购买的股票下跌时，注册会员的损失也会相应的放大，在没有及时补仓（指补充保证金）的情况下将被平台强制平仓，如果因为市场行情（如跌停）、交易延迟等因素导致无法及时平仓，亏损将进一步扩大，甚至会损失您的所有保证金。此外无论会员操作是否盈利，除承担相应的交易税费外，均需按照约定支付约定的管理费用（含资金出借方的利息）。</p>
    <p class="para-blank">三、注册会员在注册完成后，进行操盘的过程中，主要包括操盘的网上签约、签约完成后的网上交易等互联网操作行为，均存在导致保证金损失发生的可能,注册会员知晓并同意全部损失由注册会员自行承担，与{{NIU_CN}}网无关。</p>
    <p class="para-blank">四、注册会员通过网站或网站所属APP等进行的操作，包括充值、交易等，需要耗用一定时间，且可能存在网络延迟、网络故障等导致的充值、交易不及时，此外资金的划转也可能由于第三方支付、银行等渠道原因发生延迟，注册会员知晓前述事由的发生也可能会给会员带来损失，注册会员同意该损失将由注册会员自己承担。</p>
    <p class="para-blank">五、注册会员确认并承诺：已充分理解本协议全文，了解相关权利、义务，了解有关法律法规及投资的风险收益特征，愿意承担相应的包括但不限于上述提示在内的各类风险。</p>
    <p class="para-blank">六、注册会员确认并承诺自身拥有足够的资金合法收入来源及风险承受能力，注册后进行投资的保证金均为自有资金且来源于自身合法收入，未使用借款等非自有资金进行投资，且注册会员确认并承诺其进行投资的保证金规模将控制在自身总资产/年收入的百分之三十比例之内，在遭遇风险损失时不会对其家庭生活（或经营活动）产生重大影响。</p>
    <p class="para-blank">上述风险揭示，并不能揭示从事相关操盘业务的全部风险。注册会员务必对此有清醒的认识，认真考虑是否进行通过注册会员进行操盘业务。</p>
    <p class="para-blank">若注册会员继续在本网站注册会员，则表示以上风险揭示本人已阅读并完全理解，愿意承担操盘过程中的各种风险。</p>

    <h1>第二部分 协议条款</h1>
    <h2>第一条：释义</h2>
    <p class="para-blank">1.1 {{NIU_CN}}网（{{NIU_EN}}.com.cn）：由{{COMPONY_INFO}}开发并管理的提供专业投资理财服务的网站平台。</p>
    <p class="para-blank">1.2 注册会员：在{{NIU_CN}}网实名注册，具有完全民事权利能力和行为能力的自然人并获得唯一网站账户信息的投资者。</p>
    <p class="para-blank">1.3 会员服务：通过{{NIU_CN}}网平台向注册会员提供的服务，具体服务内容包括：撮合注册会员与资金出借方的资金借贷关系、为注册会员提供交易管理服务以及客户服务等。</p>
    <h2>第二条：会员须知</h2>
    <p class="para-blank">2.1
        会员在{{NIU_CN}}网平台进行注册即可成为{{NIU_CN}}网注册会员，同时网站为会员生成注册会员账户，该账户将记载注册会员在{{NIU_CN}}网平台发生的一切交易活动。注册会员应妥善保管好账户名称及密码等信息，该账户为注册会员在{{NIU_CN}}网平台进行交易的唯一有效的身份识别。会员注册成功后，不得将本网站的账户转让给第三方或者授权给第三方使用。{{NIU_CN}}网或工作人员不会以任何方式或名义向注册会员索取账户及密码。</p>
    <p class="para-blank">{{NIU_CN}}网站通过会员注册的账户及密码来识别会员的指令。会员确认，使用会员账户和密码登录本网站后在本网站的一切行为均代表会员本人意志。使用会员账户和密码登陆操作所产生的电子信息记录均为会员行为的有效凭据，并由会员承担相应的法律后果。会员有义务在注册时提供自己的真实、最新、完整的资料，包括但不限于本人真实姓名、性别、身份证号、实名手机号码等，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性，保证本网站及其他第三方可以通过上述联系方式与自己进行联系。会员有义务维持并立即更新会员的注册资料，确保其为真实、最新、有效及完整。若会员提供任何错误、虚假、过时或不完整的资料，或者本网站有合理的理由怀疑资料为错误、虚假、过时或不完整，本网站有权暂停或终止会员的账户，并拒绝会员使用本网站服务的部份或全部功能。在此情况下，本网站不承担任何责任，并且会员同意自行负担因此所产生的直接或间接的任何支出或损失。</p>
    <p class="para-blank">2.2
        注册会员理解并同意，在注册时有义务提供真实、有效、完整的资料，并保证联系方式等内容的有效性、安全性。上述信息发生任何变化，应及时在账户中予以更新，以便{{NIU_CN}}网为注册会员提供良好的服务并与注册会员进行即时有效的联系。若因上述联系方式错误而发生无法与注册会员取得联系而导致注册会员在使用本服务过程中遭受的任何损失由注册会员自行承担。</p>
    <p class="para-blank">2.3 注册会员承诺，其通过{{NIU_CN}}网平台进行交易的资金来源合法，否则{{NIU_CN}}网有权暂停或终止服务，并且由此产生的损失由注册会员自行承担。</p>
    <p class="para-blank">2.4
        注册会员确认，注册会员在{{NIU_CN}}网平台上按{{NIU_CN}}网服务流程所确认的交易结果，将成为{{NIU_CN}}网为注册会员进行相关交易或操作（包括但不限于支付或收取款项、冻结资金、订立合同等）的不可撤销的指令。注册会员同意，相关交易结果的执行时间以{{NIU_CN}}网系统中注册会员实际操作的时间为准。注册会员同意，{{NIU_CN}}网有权依据本协议及{{NIU_CN}}网其余相关协议规则，单方对相关事项进行操作。</p>
    <p class="para-blank">2.5
        注册会员理解并同意，{{NIU_CN}}网并非银行或金融机构，根据中华人民共和国相关法律规定，{{NIU_CN}}网不提供“即时”资金转账服务，下述3.3.2及3.3.3中充值、取现等服务均涉及{{NIU_CN}}网与银行、第三方支付机构等第三方机构合作，资金到账的时间因发卡行不同而存在差异，{{NIU_CN}}网对资金到帐的延迟不承担任何责任，包括但不限于由此产生的利息、货币贬值等损失。</p>
    <p class="para-blank">2.6 注册会员理解并同意，注册会员所有认证银行卡相关信息的服务由该银行卡发卡行提供，有关银行卡及账户的所有信息需向发卡行查证。</p>
    <p class="para-blank">2.7 在本网站提供的交易活动中,会员无权要求本网站提供其他用户的个人资料,除非符合以下条件：</p>
    <p class="para-blank">（1）司法机关或政府部门根据法律法规要求本网站提供；</p>
    <p class="para-blank">（2）接受会员借款的借款人逾期未归还借款本息，且本网站根据自己的判断同意披露的；</p>
    <p class="para-blank">2.8
        注册会员欲终止与{{NIU_CN}}网的服务协议时，应向{{NIU_CN}}网提出注销账户的申请，清偿所有保证金、利息、服务费、管理费等应付款项并经本网站审核同意后方可注销。在服务期间内，注册会员丧失全部或部分民事权利能力或行为能力的，{{NIU_CN}}网有权根据有效的司法文书或其监护人的指示处置其账户；注册会员死亡或被宣告死亡、被宣告失踪的，其权利义务由其继承人承担。</p>
    <p class="para-blank">2.9
        注册会员理解并同意，一经注册及使用{{NIU_CN}}网服务即视为对本协议所有条款的充分理解和接受，注册会员应完全履行本协议项下确定的所有义务，如有违反并导致任何的任何法律后果或{{NIU_CN}}网、第三方的任何损失由注册会员承担。{{NIU_CN}}网保留向注册会员追究违约责任的权利。</p>

    <h2>第三条：服务内容</h2>
    <p class="para-blank">3.1
        交易信息发布：{{NIU_CN}}网为注册会员提供交易信息。注册会员充分了解，{{NIU_CN}}网提供的该等信息仅供参考，并非代表{{NIU_CN}}网的任何推荐及指导，不作为相关操作或交易的证据或依据，注册会员据该等信息所进行的一切交易，产生的盈亏风险由注册会员自行承担。</p>
    <p class="para-blank">3.2 交易管理服务：{{NIU_CN}}网将为注册会员提供以下交易管理服务：</p>
    <p class="para-blank">如：支付或收取款项、冻结资金、订立合同等；同时在注册会员未及时补仓导致触及平仓线时，注册会员授权网站可强制平仓。</p>
    <p class="para-blank">3.3 {{NIU_CN}}网将为注册会员提供以下客户服务：</p>
    <p class="para-blank">3.3.1
        银行卡认证：注册会员应按照{{NIU_CN}}网平台规定的流程提交注册会员本人名下有效银行借记卡等信息，经由{{NIU_CN}}网审核通过后，{{NIU_CN}}网将注册会员的账户与前述银行账户进行绑定。如注册会员未按照{{NIU_CN}}网规定按时提交相关信息或提交的信息不完整的或{{NIU_CN}}网有合理理由怀疑提交的信息可能存在错误、虚假情况的，{{NIU_CN}}网有权拒绝为该注册会员提供银行卡认证服务并要求注册会员于规定时间内补正，若注册会员未及时补正而造成的未能使用充值、取现等其他服务，由此造成的一切损失由注册会员自行承担。</p>
    <p class="para-blank">3.3.2 充值：注册会员可以使用{{NIU_CN}}网指定的方式向会员账户充入资金，用于{{NIU_CN}}网平台内账户交易。</p>
    <p class="para-blank">3.3.3
        取现：注册会员可以通过{{NIU_CN}}网平台的取现功能将注册会员账户中的资金转入经过3.3.1中经过认证的银行卡中。{{NIU_CN}}网将于注册会员的前述操作后，在一个工作日内通过第三方机构将相应的款项汇入3.3.1中注册会员经过认证的银行卡账户。</p>
    <p class="para-blank">3.3.4 查询：{{NIU_CN}}网对注册会员在{{NIU_CN}}网平台所有操作进行记录，注册会员可以通过会员账户实时查询会员账户名下的交易记录。</p>
    <p class="para-blank">3.3.5
        获得借款：注册会员同意其向资金出借方借款的资金，指定{{NIU_CN}}网平台（或其关联方）作为收款方，即资金出借方将款项打入{{NIU_CN}}网（或其关联方）即视为资金交付给注册会员；同时，{{NIU_CN}}网通过平台将资金打入注册会员的平台账户内用于炒股；注册会员在{{NIU_CN}}网所进行股票交易操作的记录即作为注册会员已经获取借款本金且已经用于炒股的凭证。</p>
    <p class="para-blank">3.3.6
        对账：注册会员在每次合约结束后，{{NIU_CN}}网均会通过有资质的第三方公司将该次合约的结算情况信息向注册会员绑定的手机号码发送手机短信，注册会员若对该笔结算有任何异议的，应在收到信息后7日内向{{NIU_CN}}网提出书面异议，否则视为没有异议，并同意该结算结果。</p>

    <h2>第四条：免责声明</h2>
    <p class="para-blank">4.1
        {{NIU_CN}}网对因注册会员的过错（包括但不限于：决策失误、操作不当、遗忘或泄露密码、密码被他人破解、注册会员使用的计算机系统被第三方侵入、注册会员委托他人代理交易时、他人恶意或不当操作等）导致的任何损失，不承担任何法律责任。</p>
    <p class="para-blank">4.2
        若{{NIU_CN}}网发现因系统故障或其他任何原因导致的系统处理错误，无论该处理错误导致的结果有利于{{NIU_CN}}网还是有利于注册会员，{{NIU_CN}}网都有权立即单方纠正错误。注册会员理解并同意，若该等错误导致注册会员实际收到的款项多于应获得的金额，则无论错误的性质和原因为何，注册会员应根据{{NIU_CN}}网向注册会员发生的有关纠正错误的通知的具体要求返还多收的款项或进行其他操作。</p>
    <p class="para-blank">4.3
        注册会员理解并同意，发生下述情形时，{{NIU_CN}}网有权基于单方独立判断而不经过通知而单方先行暂停、中断或终止向注册会员提供本协议下的全部或部分会员服务，并将会员账户移除或注销且无需对注册会员或任何第三方承担任何责任。前述情形包括但不限于：</p>
    <p class="para-blank">1、注册会员提供的个人资料存在不真实、不完整或无效的情形；</p>
    <p class="para-blank">2、{{NIU_CN}}网发现会员账户存在异常交易或违法交易的情形；</p>
    <p class="para-blank">3、{{NIU_CN}}网有合理理由怀疑注册会员账户涉嫌洗钱、套现、传销、被冒用或其他{{NIU_CN}}网认为账户存在风险的情形；</p>
    <p class="para-blank">4、注册会员账户已连续三年未实际使用且账户中余额为零；</p>
    <p class="para-blank">5、其他{{NIU_CN}}网基于交易安全等原因，根据其单独判断需先行暂停、中断或终止向注册会员提供本协议的全部或部分会员服务的情形。</p>
    <p class="para-blank">4.4
        由于互联网的特殊性，在系统无法正常运作（包括但不限于因台风、地震、停电等不可抗力，黑客攻击、网络故障，电信设备故障导致信息传递延误，网站维护等原因）致使用户不能使用{{NIU_CN}}网服务或服务受到影响，{{NIU_CN}}网不承担责任。</p>
    <p class="para-blank">4.5
        注册会员理解并同意，因网络系统、第三方支付服务，银行转账服务等发生异常，无法正常运作（包括但不限于因台风、地震、停电等不可抗力，黑客攻击、网络故障，电信设备故障导致信息传递延误，网站维护等原因）导致充值、转账、取现等操作受到影响，{{NIU_CN}}网不承担责任。</p>
    <p class="para-blank">4.6 注册会员理解并同意，因宏观经济调控、法律法规政策变化、市场利率引起的价格波动致使会员遭受损失，{{NIU_CN}}网不承担损失赔偿责任。</p>
    <h2>第五条： 通知</h2>
    <p class="para-blank">本协议条款及任何其他的协议、告示或其他关于注册会员使用本服务账户及服务的通知，会员同意本网站使用电子方式通知会员。电子方式包括但不限于以电子邮件方式、或于本网站或者合作网站上公布、或手机短信等无线通讯装置通知等方式。会员同意，会员有义务及时查看本网站、在本网站注册的电子邮箱、预留实名手机号码接受的短信等，并及时根据通知内容做出反馈。本网站以电子方式发出前述通知之日视为通知已送达。因信息传输等原因导致会员未在前述通知发出当日收到该等通知的，本网站不承担责任。</p>
    <h2>第六条： 法律适用及争议解决</h2>
    <p class="para-blank">6.1 本协议适用中华人民共和国法律。</p>
    <p class="para-blank">6.2 因履行本协议发生的一切争议，双方应协商解决；协商不成的，任一方均可向{{COMPONY_INFO}}住所地人民法院提起诉讼。</p>

    <h2>第七条： 其他</h2>
    <p class="para-blank">7.1 本协议是由注册会员与{{NIU_CN}}网共同签订的，适用于注册会员在{{NIU_CN}}网的全部操作。</p>
    <p class="para-blank">7.2 为保证本协议的效力，本协议注册会员在阅读完毕后，若仍继续自愿注册的，必须勾选“同意”选项后进行注册，注册完成即视为完全同意本协议内容；不同意本协议条款的，不得注册为本网站会员。</p>
    <p class="para-blank">7.3 {{NIU_CN}}网、{{COMPONY_INFO}}对本服务协议拥有最终解释权。</p>

</div>