{% extends '../layout/about/company.html' %} {% block content %}
<div class="company-main">
    <div class="company-title">公司简介</div>
    <div class="company-type">关于{{NIU_CN}}</div>
    <p class="company-intro">{{NIU_CN}}网（www.cfniu.com.cn），致力于为广大股民提供方便、快捷、安全的互联网信息服务。{{NIU_CN}}网由多位互联网领域的资深专家共同组建而成，依托深厚的资源背景快速扩张，以方便、安全、专业、创新的特征赢得了良好的用户口碑，已成为行业内极具影响力的品牌。</p>
    <div class="company-type">我们的优势</div>
    <div class="company-title2">1.实力强劲</div>
    <div class="company-intro"> 深厚的资源背景，资深IT研发团队，技术保障能力强</div>
    <div class="company-title2">2.使用便捷</div>
    <div class="company-intro"> 多屏适应，实时覆盖，掌握市场最新动态</div>
    <div class="company-title2">3.模式创新</div>
    <div class="company-intro">展现自我，交流切磋，以操盘技能论英雄</div>
</div>
{% endblock %}