{% extends '../layout/about/safe.html' %} {% block content %}
<!-- main -->
<div class="safe-main">
    <div class="safe-title">安全保障</div>
    <div class="safe-type">资金保障</div>
    <p class="safe-intro">{{NIU_CN}}委托第三方支付机构为平台提供资金托管服务，对用户的资金流转进行严格把控，并确保用户的资金与{{NIU_CN}}的自有资金严格分离。</p>
    <div class="safe-type">信息保障</div>
    <div class="safe-intro"> {{NIU_CN}}内部制定了严格的用户信息管理流程，国际领先的系统加密保护技术，保障用户的交易信息和资金信息不泄露。</div>
    <div class="safe-type">项目保障</div>
    <div class="safe-intro">{{NIU_CN}}对风险的把控贯穿与项目的全过程，包括操盘前、操盘中和操盘后。随时针对流程中涉及到的细节进行评估分析，设立严格的风控制度，从而实现全过程资金严控，保证资金安全。</div>
</div>
{% endblock %}