{% extends 'layout/user/recharge.html' %} {% block content %}
<div class="ui-view-container">
    <!-- header -->
    {% include '../components/common/_header.html' %}
    <!-- main -->
    <div class="main-content">
        <div class="wrap">
            <ul class="level2-tab clearfix">
                <li class="JS-tab-recharge" data-nav="0">
                    <a>在线充值</a>
                </li>
                <li class="JS-tab-recharge" data-nav="1">
                    <a>线下转账</a>
                </li>
                <li class="JS-tab-recharge" data-nav="2">
                    <a>充值记录</a>
                </li>
            </ul>
            <!--在线充值-->
            <div class="JS-cotent-recharge recharge-online" data-content="0">
                <ul class="recharge-list JS-recharge">
                    <li class="clearfix">
                        <div class="recharge-title fb">账户余额</div>
                        <div class="recharge-content">
                            <span class="fb color-red size16">{{member.account.balance}}</span>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="recharge-title fb">充值银行</div>
                        <div class="recharge-content">
                            {% if banks and banks.length > 0 %}
                            <img class="head30" src="{{IMAGE_INNER_URL}}/{{banks[0].bank.bankIcon}}">
                            <span class="gray-dark fb">{{banks[0].bank.bankName}}({{banks[0].cardNo | convertCardNo}})</span>
                            {% else %}
                            <a class="nobank link-blue" href="/user/addBank">请先前往绑定银行卡</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="recharge-title fb">充值方式</div>
                        <div class="recharge-content">
                            <button class="btn-fixed-150 btn-gray-border JS-pay-type-btn" data-type="0">快捷支付</button>
                            <button class="btn-fixed-150 btn-gray-border btn-disabled JS-pay-type-btn" data-type="1">网银支付</button>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="recharge-title fb">充值金额</div>
                        <div class="recharge-content">
                            <input class="input-normal" type="text" placeholder="请输入充值金额" name="amount">
                        </div>
                    </li>
                    <li class="operate-btn">
                        <form class="JS-recharge-Form none" action="{{PAY_URL}}" target="_blank" method="post" name="payForm">
                            <!-- 网银 1，快捷 0 -->
                            <input class="none" type="text" name="deltaTypeId" value="0" />
                            <input class="none" type="text" name="deltaPoundage" value="0" />
                            <input class="none" type="text" name="deltaAmount" />
                            <input class="none" type="text" name="deltaTotalAmount" />
                            <input class="none" type="text" name="deltaAccount" value="{{banks[0].cardNo}}" />
                            <input class="none" type="text" name="idcard" value="{{member.idcard}}" />
                            <input class="none" type="text" name="idcardHolder" value="{{member.realName}}" />
                            <input class="none" type="text" name="deltaBankId" value="{{banks[0].bankId}}" />
                            <input class="none" type="text" name="mobilephone" value="{{banks[0].phone}}" />
                            <!-- pc 0 -->
                            <input class="none" type="text" name="terminal" value="0" />
                        </form>
                        <button class="btn-full btn-red JS-recharge-btn">立即充值</button>
                    </li>
                </ul>
                <div class="sides-both-prompt">
                    <div class="sides-both-title">温馨提示</div>
                    <div class="sides-both-cont">
                        <ol>
                            <li>为了您的资金安全，您的账户资金将由第三方银行托管；</li>
                            <li>充值前请注意您的银行卡充值限额，以免造成不便；</li>
                            <li>禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用；</li>
                            <li>为了您的资金安全，建议充值前进行实名认证、手机绑定、设置提现密码；</li>
                            <li>如果充值遇到任何问题，请联系客服：
                                <b>{{TEL_NUM}}</b>。</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!--线下转账-->
            <div class="JS-cotent-recharge offline-transfer" data-content="1">
                <div class="recharge-step clearfix">
                    <div class="step">
                        <span class="no">1</span>
                        <span class="title">咨询客服转账帐号</span>
                    </div>
                    <div class="step">
                        <span class="no">2</span>
                        <span class="title">完成线下转账</span>
                    </div>
                    <div class="step">
                        <span class="no">3</span>
                        <span class="title">提交线下转账凭证</span>
                    </div>
                </div>
                <ul class="recharge-list JS-transfer">
                    <li class="clearfix">
                        <div class="recharge-title fb">充值金额</div>
                        <div class="recharge-content">
                            <input class="input-normal" name="amount" type="text" placeholder="请输入转账金额">
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="recharge-title fb">充值备注</div>
                        <div class="recharge-content">
                            <select class="input-normal JS-transfer-select">
                                <option value="">请选择充值备注</option>
                                <option value="申请合约">申请合约 </option>
                                <option value="追加本金">追加本金</option>
                                <option value="交管理费">交管理费</option>
                                <option value="普通充值">普通充值</option>
                            </select>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="recharge-title fb">转账备注</div>
                        <div class="recharge-content">
                            <form class="fileupload-form JS-first-upload">
                                <input type="file" class="fileupload" name="picFile" accept="image/*" />
                                <a class="link-blue">点击上传转账凭证</a>
                            </form>
                            <div class="clearfix none JS-is-uploaded">
                                <span class="gray-dark fl JS-file-name"></span>
                                <a class="link-blue mr10 fr JS-prelook">查看原图</a>
                                <form class="fileupload-form">
                                    <input type="file" class="fileupload" name="picFile" accept="image/*" />
                                    <a class="link-blue mr10 fr">重新上传</a>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="operate-btn">
                        <button class="btn-full btn-red JS-transfer-btn">确认提交</button>
                    </li>
                </ul>
                <div class="sides-both-prompt">
                    <div class="sides-both-title">温馨提示</div>
                    <div class="sides-both-cont">
                        <ol>
                            <li>已完成线下转账的用户，请通过本页面提交线下转账凭证；</li>
                            <li>请明确填写的充值金额与实际转账金额一致，转账凭证中包含付款人、收款人、金额三要素；
                                <br/>
                                <a class="link-blue JS-img-example">图片示例</a>
                            </li>
                            <li>如果充值遇到任何问题，请联系客服：
                                <b>{{TEL_NUM}}</b>。</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!--充值记录-->
            <div class="JS-cotent-recharge recharge-record" data-content="2">
                {#
                <ul class="record-fund-key">
                    <li>
                        <span>时间：</span>
                        <a class="btn-fixed-100 btn-red">全部</a>
                        <a class="btn-fixed-100 btn-gray-border">近一周</a>
                        <a class="btn-fixed-100 btn-gray-border">近一个月</a>
                        <a class="btn-fixed-100 btn-gray-border">近三个月</a>
                        <a class="btn-fixed-100 btn-gray-border">近一年</a>
                    </li>
                </ul> #}
                <div class="JuicerAnchor-rechargeList"></div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {% include '../components/common/_footer.html' %}
    <!-- 图片示例 -->
    {% include '../components/dialog/user/_offlineExample.html' %}
    <!-- 图片预览 -->
    {% include '../components/dialog/user/_imageDailog.html' %}
    <!-- 查看凭证 -->
    {% include '../components/dialog/user/_lookOldImages.html' %}
</div>{% endblock %}