<div class="modal-coupon-wrap none">
    <ul class="level3-tab clearfix JS-couponType">
        <li class="selected">
            <a>管理费抵用券</a>
        </li>
        <li>
            <a>本金抵用券</a>
        </li>
    </ul>
    <ul class="modal-coupon-list clearfix JS-couponList JuicerAnchor-couponList">
        <li class="type-capital">
            <div class="card-type">管理费抵用券</div>
            <div class="card-money">
                <span class="size18">￥</span>
                <span class="size32 fb">1000</span>
            </div>
            <div class="card-term">有效期：
                <span class="fb">1</span>个月</div>
            <div class="card-integral">
                <span class="item-value fb">1000</span> 积分
            </div>
        </li>
        <li class="type-capital-selected">
            <div class="card-type">管理费抵用券</div>
            <div class="card-money">
                <span class="size18">￥</span>
                <span class="size32 fb">1000</span>
            </div>
            <div class="card-term">有效期：
                <span class="fb">1</span>个月</div>
            <div class="card-integral">
                <span class="item-value fb">1000</span> 积分
            </div>
        </li>
        <li class="type-manage">
            <div class="card-type">管理费抵用券</div>
            <div class="card-money">
                <span class="size18">￥</span>
                <span class="size32 fb">1000</span>
            </div>
            <div class="card-term">有效期：
                <span class="fb">1</span>个月</div>
            <div class="card-integral">
                <span class="item-value fb">1000</span> 积分
            </div>
        </li>
        <li class="type-manage-selected">
            <div class="card-type">管理费抵用券</div>
            <div class="card-money">
                <span class="size18">￥</span>
                <span class="size32 fb">1000</span>
            </div>
            <div class="card-term">有效期：
                <span class="fb">1</span>个月</div>
            <div class="card-integral">
                <span class="item-value fb">1000</span> 积分
            </div>
        </li>
        <li class="type-fail-standard">
            <div class="card-type">管理费抵用券</div>
            <div class="card-money">
                <span class="size18">￥</span>
                <span class="size32 fb">1000</span>
            </div>
            <div class="card-term">有效期：
                <span class="fb">1</span>个月</div>
            <div class="card-integral">
                <span class="item-value fb">1000</span> 积分
            </div>
        </li>
    </ul>
    <div class="modal-coupon-operate">
        <button class="btn-fixed-250 btn-red">确认</button>
    </div>
</div>