<div class="modal-wrap modal-size-normal none" id="JS-tradeNoBalanceDialog">
    <div class="modal-title clearfix">
        <span class="head-title-left">余额不足</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content">
        <ul class="modal-col2-list JuicerAnchor-tradeNoBalance">
        </ul>
        <!-- <div class="errortip-default">
            <i class="icon-tishi"></i>
            <span>这里是提示内容</span>
        </div> -->
    </div>
    <div class="modal-operate">
        <a class="btn-full btn-red JS-confirm">立即充值</a>
    </div>
</div>