<div class="modal-wrap modal-size-normal none" id="noBalanceModal">
    <div class="modal-title clearfix">
        <span class="head-title-left">余额不足</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content">
        <ul class="modal-col2-list">
            <li class="clearfix">
                <div class="col2-list-title">账户余额：</div>
                <div class="col2-list-content">
                    <span class="fb color-red JS-balance">0.00</span>
                    <span class="fb gray-dark">元</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="col2-list-title">追加本金：</div>
                <div class="col2-list-content">
                    <span class="fb gray-dark JS-noBalance-money">0.00</span>
                    <span class="fb gray-dark">元</span>
                </div>
            </li>
            <li class="clearfix have-topline">
                <div class="col2-list-title">支付还差：</div>
                <div class="col2-list-content">
                    <div class="item-inner">
                        <span class="fb color-red JS-difference">0.00 </span>
                        <span class="fb gray-dark">元</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="errortip-default none JS-errorWrap">
            <i class="icon-tishi"></i>
            <span class="JS-errorMsg">这里是提示内容</span>
        </div>
    </div>
    <div class="modal-operate">
        <a class="btn-full btn-red JS-confirm">立即充值</a>
    </div>
</div>