<div class="modal-wrap modal-size-normal none" id="agreementDialog">
    <div class="modal-title clearfix">
        <span class="head-title-left JS-adName">风险提示</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content">
        <div class="risk-tip-cont JS-test">
            这里是风险提示内容标签是默认是自动换行的，因此设置好宽度之后，能够较好的实现效果，但是最近的项目中发现，使用ajax加载数据之后，p标签内的内容没有换行，导致布局错乱，于是尝试着使用换行样式，虽然解决了问题，但是并没有发现本质原因，本质在于，我当时获取的数据是一长串的数字，浏览器应该是对数字和英文单词处理方式相近，不会截断。
            先给出各种方式，再具体介绍每一个属性。这里是风险提示内容标签是默认是自动换行的，因此设置好宽度之后，能够较好的实现效果，但是最近的项目中发现，使用ajax加载数据之后，p标签内的内容没有换行，导致布局错乱，于是尝试着使用换行样式，虽然解决了问题，但是并没有发现本质原因，本质在于，我当时获取的数据是一长串的数字，浏览器应该是对数字和英文单词处理方式相近，不会截断。
            先给出各种方式，再具体介绍每一个属性。
        </div>
    </div>
    <div class="modal-operate">
        <a class="btn-full btn-red JS-confirm">已阅读且同意此协议</a>
    </div>
</div>