<div class="modal-wrap modal-size-normal none" id="JS-stopTradeDialog">
    <div class="modal-title clearfix">
        <span class="head-title-left">停牌合约</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content" style="min-height: 310px;">
        <div class="tips-have-botline">转合约后，当前合约将正常结算</div>
        <ul class="modal-col2-list JuicerAnchor-tingpai">
        </ul>
        <div class="errortip-default none JS-errorWrap">
            <i class="icon-tishi"></i>
            <span class="JS-errorMsg">这里是提示内容</span>
        </div>
    </div>
    <div class="modal-operate">
        <a class="btn-full btn-red JS-confirm">确认申请</a>
    </div>
</div>