<div class="modal-wrap modal-size-normal none" id="JS-todayLimitDialog">
    <div class="modal-title clearfix">
        <span class="head-title-left">今日限买股</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content">
        <div class="tips-have-botline">平台不可交易基金、S、ST、*ST、S*ST及SST类股票</div>
        <div class="today-limit-cont JuicerAnchor-TodayLimit">

        </div>
    </div>
    <div class="modal-operate">
        <a class="btn-full btn-red JS-dialog-close">确认</a>
    </div>
</div>