<div class="modal-wrap modal-size-normal none" id="JS-profitDialog">
    <div class="modal-title clearfix">
        <span class="head-title-left">利润提取</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content">
        <ul class="modal-col2-list JuicerAnchor-profit">

        </ul>
        <div class="errortip-default none JS-errorWrap">
            <i class="icon-tishi"></i>
            <span class="JS-errorMsg">这里是提示内容</span>
        </div>
    </div>
    <div class="modal-operate">
        <a class="btn-full btn-red JS-submit">确 认</a>
    </div>
</div>