<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- seo -->
    <title>{{tdk.title}}</title>
    <meta name="keywords" content="{{tdk.keywords}}">
    <meta name="description" content="{{tdk.description}}"> 
<link rel="shortcut icon" href="/static.cfniu.com/favicon.ico"><link href="/static.cfniu.com/minstyle/login.css" rel="stylesheet"></head>
<body>
    {% block content %}{% endblock %}
<script type="text/javascript" src="/static.cfniu.com/js/manifest.js"></script><script type="text/javascript" src="/static.cfniu.com/js/login.js"></script><script type="text/javascript" src="/static.cfniu.com/js/common.js"></script></body>
</html>