{% extends 'layout/other/other.html' %} {% block content %}
<div class="ui-view-container">
    <!-- header -->
    {% include '../components/common/_header.html' %}
    <!-- main -->
    <div class="main-content">
        <div class="other-wrap clearfix">
            <!--左侧菜单 -->
            {% include '../components/other/_leftMenu.html' %}
            <div class="other-content">
                <div class="other-title1">加入我们</div>
                <img src="../images/other/banner-joinus.jpg" />
                <p class="other-cont1">我们是一支在互联网和金融领域非常优秀的团队！我们有梦有理想，我们积极乐观，脚踏实地，充满激情！如果你也和我们一样，那么欢迎你加入我们的团队！ 我们会为你提供： 在全新的互联网金融行业里开启个人事业的机会。 富有竞争力的薪酬待遇。
                    轻松惬意的工作氛围和充满活力的团队文化。 完善的培训体系和更多的晋升机会。</p>
                <div class="other-title1">互联网营销策划</div>
                <div class="other-title2">职位描述：</div>
                <ul class="other-cont2">
                    <li>1、公司市场营销活动（如展会、促销活动、最新产品等）的策划、统筹、部署执行；</li>
                    <li>2、策划互联网话题、事件、活动等工作，熟悉网络营销运作流程；</li>
                    <li>3、独立完成整合营销策划方案的撰写、演示、讲解工作并提案；</li>
                    <li>4、熟悉各种内容形式，例如：微博文案与图片、软文、论坛帖、事件活动等。</li>
                </ul>
                <div class="other-title2">岗位要求：</div>
                <ul class="other-cont2">
                    <li>1、大学本科学历，市场营销、公共关系等相关专业；</li>
                    <li>2、3年以上市场营销相关工作经验，能独立完成项目策划与执行；</li>
                    <li>3、具有互联网行业的从业背景，或者互联网金融行业同岗位工作经验者优先；通晓互联网营销策划工作经验者优先；</li>
                    <li>4、熟悉市场分析及调研工具，有品牌推广工作经验者优先考虑；</li>
                    <li>5、具有独立的工作能力和分析能力、较强的观察力、判断力和应变能力；</li>
                    <li>6、思维活跃，敢于创新，具备高度的工作热情和事业心，有良好的团队合作精神；</li>
                    <li>7、必须具备2年以上炒股经验。</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- footer -->
    {% include '../components/common/_footer.html' %}
</div>{% endblock %}