//-word color
.gray-dark {
    color: $gray-dark;
}

.gray-base {
    color: $gray-base;
}

.gray-light {
    color: $gray-light;
}

.color-red {
    color: $red;
}

.color-green {
    color: $green;
}

.color-orange {
    color: $orange;
}

.color-blue {
    color: $blue;
}