<div class="agent-head">
    <div class="wrap clearfix">
        <div class="left-logo">
            <a href="/agent" class="fl">
                <div class="logo-main"></div>
            </a>
            <div class="logo-second">居间商</div>
        </div>
        <ul class="agent-nav clearfix">
            <li>
                <a href="/agent">首页</a>
            </li>
            <li>
                <a href="/agent/myPartner">我的居间商 </a>
            </li>
        </ul>
        <div class="right-user">
            <span>您好，</span>
            <a href="/agent/myPartner" class="user-name">{{agent.partnerName}}</a>
            <span class="uesr-level">LV {{agent.level}}</span>
            <a class="link-white JS-agentOut">退出</a>
        </div>
    </div>
</div>