<div class="tabbar">
    <a href="{{MOBILE_URL}}/#/home" class="tab-item">
        <div class="tab-item-icon">
            <!---->
            <img src="{{APP_PC_URL}}/images/m/icon/home.png" alt="">
        </div>
        <div class="tab-item-label">
            首页
        </div>
    </a>
    <a href="{{MOBILE_URL}}/#/active" class="tab-item">
        <div class="tab-item-icon">
            <img src="{{APP_PC_URL}}/images/m/icon/active.png" alt="">
            <!---->
        </div>
        <div class="tab-item-label">
            体验
        </div>
    </a>
    <a href="{{MOBILE_URL}}/#/product" class="tab-item">
        <div class="tab-item-icon">
            <img src="{{APP_PC_URL}}/images/m/icon/trade.png" alt="">
            <!---->
        </div>
        <div class="tab-item-label">
            配资
        </div>
    </a>
    <a href="{{MOBILE_URL}}/#/mytrade" class="tab-item">
        <div class="tab-item-icon">
            <img src="{{APP_PC_URL}}/images/m/icon/mytrade.png" alt="">
            <!---->
        </div>
        <div class="tab-item-label">
            交易
        </div>
    </a>
    <a href="{{MOBILE_URL}}/#/user" class="tab-item">
        <div class="tab-item-icon">
            <img src="{{APP_PC_URL}}/images/m/icon/user.png" alt="">
            <!---->
        </div>
        <div class="tab-item-label">
            我的
        </div>
    </a>
</div>