<header class="m-header">
    <div class="mint-header-button is-left">
        <button class="mint-button mint-button--default mint-button--normal" onclick="javascript:window.history.back();return false;">
            <span class="mint-button-icon">
                <i class="icon-back left-back"></i>
            </span>
            <label for="" class="mint-button-text"></label>
        </button>
    </div>
    <h1 class="mint-header-title">{{pageTitle}}</h1>
    <div class="mint-header-button is-right"></div>
</header>