<div class="modal-wrap modal-size-normal none" id="JS-add-coupon-Dialog">
    <div class="modal-title clearfix">
        <span class="head-title-left">添加优惠券</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content">
        <ul class="modal-list">
            <li class="input-normal">
                <input type="text" name="code" placeholder="请输入优惠券码" />
            </li>
        </ul>
        <div class="errortip-default JS-errorWrap none">
            <i class="icon-tishi"></i>
            <span class="JS-errorMsg">这里是提示内容</span>
        </div>
    </div>
    <div class="modal-operate">
        <a class="btn-full btn-red JS-confirm-add-coupon-btn">确 认</a>
    </div>
</div>