<div class="modal-wrap modal-size-normal none" id="JS-copy-link-Dialog">
    <div class="modal-title clearfix">
        <span class="head-title-left">复制链接</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content">
        <ul class="modal-list">
            <li class="center">
                <span class="gray-dark">复制以下内容，发送给你的朋友</span>
            </li>
        </ul>
        <ul class="modal-list have-topline">
            <li>
                <textarea readonly="readonly" id="JS-copy-link-textarea" class="copy-link">送你100元炒股红包，点击即可领取！{{shareUrl}}</textarea>
            </li>
        </ul>
    </div>
    <div class="modal-operate">
        <a class="btn-full btn-red JS-copy-link-btn">确 认</a>
    </div>
</div>