<div class="modal-wrap modal-size-normal none" id="JS-modify-pwd-Dialog">
    <div class="modal-title clearfix">
        <span class="head-title-left">修改登录密码</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content JS-modify-pwd-form">
        <ul class="modal-list">
            <li class="input-normal">
                <input type="password" placeholder="请输入原登录密码（6-16位数字和字母）" name="oldPwd" />
            </li>
            <li class="input-normal">
                <input type="password" placeholder="请设置新登录密码（6-16位数字和字母）" name="pwd" />
            </li>
            <li class="input-normal">
                <input type="password" placeholder="请再次输入新登录密码（6-16位数字和字母）" name="pwd2" />
            </li>
        </ul>
        <div class="errortip-default JS-errorWrap none">
            <i class="icon-tishi"></i>
            <span class="JS-errorMsg">这里是提示内容</span>
        </div>
    </div>
    <div class="modal-operate">
        <a class="btn-full btn-red JS-modify-pwd-btn">确 认</a>
    </div>
</div>