<div class="modal-wrap modal-size-normal none" id="JS-open-bank-Dialog">
    <div class="modal-title clearfix">
        <span class="head-title-left">请先维护分行信息</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content">
        <ul class="modal-list">
            <li class="center">
                <span class="gray-dark">因第三方通道限制，请务必填写真实信息</span>
            </li>
        </ul>
        <ul class="modal-list">
            <li>
                <input name="outletsName" type="text" placeholder="例：上海分行东方支行" class="input-normal" />
            </li>
        </ul>
    </div>
    <div class="modal-operate">
        <a class="btn-full btn-red JS-confirm-open-bank-btn">确 认</a>
    </div>
</div>