<div class="modal-wrap modal-size-normal none" id="JS-remind-friend-Dialog">
    <div class="modal-title clearfix">
        <span class="head-title-left">提醒好友</span>
        <span class="head-close title-close"></span>
    </div>
    <div class="modal-content">
        <div class="remind-code JS-remind-qrcode-url">
            <img src="{{remindUrl}}" />
            <div>
                打开微信，点击底部
                <b>“发
                    <br/>现”。</b>使用
                <b>“扫一扫”</b>即
                <br/>可分享给朋友们
            </div>
        </div>

    </div>
    <div class="modal-operate">
        <a class="btn-full btn-red title-close">确 认</a>
    </div>
</div>